*{
    margin: 0;
    padding: 0;
    width: auto;
    
}

.html, body{
    /* padding: 50px;*/
    font-family: sans-serif; 
    background: radial-gradient(rgb(1, 12, 50), rgba(0,0,0.5));
}

.header-body{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav-bar{
    display: flex;
    margin: 50px 60px 50px 60px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar ul li {
    display: inline-block;
    padding: 20px;
    text-align: right;
}

.nav-bar ul li a{
    color: rgb(154, 149, 149);
    text-decoration: none;
    transition: all 1s;
    font-weight: 800;
    font-size: 20px;


}

.simple-text{
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    background: rgba(56, 55, 55);
    width: auto;
    padding: 20p 10px;
    border-radius: 7px;
    height: 30px;
}

.simple-text p{
    color: white;
    font-size: 19px;
    font-weight: 700;
    word-spacing: 3px;
    font-family: sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    
}

.simple-text img{
    width: 14px;

}

.slash-img{
    background: rgb(87, 85, 85);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 10px;
}

.nav-bar ul li a:hover{
    color: white;
}

span{
    color: rgb(154, 149, 149);
}

/* the header page design */
.page-moto{
    width: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 140px 50px 50px 50px;

}

.page-moto-logo{
    padding-top: 50px;
    display: flex;
    width: auto;

}

.page-moto-logo img{
    width: 150px;
    height: 150px;
    align-items: start;
    padding-right: 900px;
}

.page-moto-logo h1{
    color: aliceblue;
    font-size: 90px;
    margin-right: 50px;
}
.gen{
    color: #13b6b3;
}
.txt{
    margin-top: 4px;
}
.txt h1{
    color: aliceblue;
    font-size: 90px;
}

#moto-txt{
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    word-spacing: 5px;
    color: rgb(141, 141, 141);
}

.header-main{
    max-width: 100px;
    display: flex;
    align-items: center;
}

.img-background{
    /* margin-left: 360px; */
    margin-top: 80px;
}
.img-background img{
    width: 700px;

}


/* starting the body section */

.body-section{
    padding: 50px 60px 50px 60px;
    width: auto;
}

.count-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count-row h1{
    color: white;
    font-size: 50px;
}

.user-progress-count{
    display: flex;
    align-items: center;
}

.user-progress-count p{
    color: #13b6b3;
    padding: 40px;
    font-weight: 700;
}


/* body purpose section */

.purpose-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}


.purpose{
    display: flex;
    flex-direction: column;
}

.purpose h1{
    color: white;
    font-size: 63px;
    margin-bottom: 25px;
}

.purpose p{
    color: grey;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
}

.purpose a{
    text-decoration: none;
    background: linear-gradient(rgb(171, 252, 251),rgb(4, 180, 180));
    padding: 20px 15px;
    text-align: center;
    width: 120px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.purpose2{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 19px;
    border-radius: 20px;
    transition: all 0.5s;
}

.purpose2:hover{
    background: rgb(82, 81, 81);

}

.icon{
    background: #13b6b3;
    width: 55px;
    height: 55px;
    border-radius: 100px;
}

.icon-text{
    margin-left: 20px;
}

.icon-text h2{
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

.icon-text p{
    color: grey;
    line-height: 25px;
    font-size: 21px;
}

.body-img-one{
    display: block;
}

.body-img-one img{
    width: 600px;
}


.purpose-section-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    
}

.purpose-section-two h2{
    color: white;
    font-size: 63px;
    margin-bottom: 30px;
}

.purpose-section-two p{
    color: grey;
    line-height: 28px;
    font-size: 22px;
}

.app-download{
    display: flex;
    margin-top: 50px;
}

.app-download img{
    width: 150px; margin-right: 20px;
    cursor: pointer;

}

.testimonies{
    background: transparent;
    border-radius: 20px;
    width: 300px;
    height: auto;
    padding: 30px 30px;

}

.testimonies:hover{
    background: linear-gradient(rgb(66, 66, 68), rgba(0,0,0.5));
    
}

.testimonies h2{
    color: rgb(1, 183, 255);
    font-size: 80px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.testifiers{
    display: flex;
    margin-top: 30px;
}

.testimonies-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.testimonies p{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    line-height: 30px;

}

.testifiers img{
    margin-left: 20px;
    width: 70px;
}

.testifiers span{
    color: #aeaeae;
    font-size: 15px;
    font-weight: 700;
}

.companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 20px 150px;
}

.companies img{
    width: 200px;

}


.lets-try{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(66, 66, 68), rgb(14, 11, 11));
    padding: 60px 90px;
    margin: 90px;
    border-radius: 20px;
}

.lets-try h1{
    color: white;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

.lets-try p{
    line-height: 30px;
    color: #aeaeae;
    font-size: 25px;
    font-weight: 500;
}

.btn-start{
    background: linear-gradient(rgb(171, 252, 251),rgb(4, 180, 180));
    padding: 22px 25px;
    border-radius: 10px;
}

.btn-start a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

/* ....footer section..... */
footer{
    background: #09090d;
    padding: 40px 80px;
}


.footer-section{
    display: flex;
    justify-content: space-between;
}

.footer-section p{
    color: #aeaeae;
    padding: 20px 28px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 500;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.content img{
    width: 250px;
}

.content ul li {
    padding: 12px;
    list-style: none;
}

.content ul li a{
    text-decoration: none;
    color: #7e7a7a;
    font-size: 20px;
}

.content h2{
    color: #fff;
    font-weight: 600;
    padding: 10px 10px;

}


hr{
    color: rgb(59, 59, 59);
    margin-top: 30px;
    margin-bottom: 30px;
}


.final-footer-content{
    display: flex;
    justify-content: space-between;
}

.final-footer-content p{
    color: #7e7a7a;
    font-size: 20px;
    font-weight: 500;
}

.socials ul li{
    display: inline-block;
    list-style: none;
}

.socials  img{
    padding: 15px;

}